/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root {
    --indigo-dye: hsla(205, 74%, 27%, 1);
    --cream: rgb(224, 224, 193);
    --amber: hsla(46, 96%, 48%, 1);
    --syracuse-red-orange: hsla(20, 92%, 44%, 1);
}

body {
    font-family: "Montserrat";
}

/* Dashboard */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--indigo-dye);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.205);
    padding: 10px 30px;
}

.logo {
    svg {
        height: 6vh;
        width: auto;
        fill: var(--amber);
        transform: scaleX(-1);
    }
    .text-logo {
        color: white;
    }
    h1 {
        font-weight: 600;
        font-size: 2rem;
    }
    h3 {
        font-weight: 200;
        font-size: .8rem;
    }
    display: flex;
    align-items: center;
    gap: 5px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  font-size: 1.1rem;
  font-weight: 450;
  cursor: pointer;
  text-decoration: none;
  color: var(--amber);
}

nav ul li:last-child a{
  color: white;
}

.modal-btn-report-lost {

}

.modal-btn-report-found {
    
}

/* Main */
.search {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

section h1 {
    font-size: 2rem;
    font-weight: 750;
}

.search-input {
    all: unset;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 8px 15px;
    width: 600px;
}

.search-button {
    all: unset;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--amber);
    transition: background-color 0.5s ease;
}

.search-button:hover {
    background-color: rgb(211, 163, 6);
}

.filter {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
}

.filter-btn {
    all: unset;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 5px 10px;
    transition: background-color 0.5s ease;
}

.filter-btn:hover {
    background-color: rgb(177, 177, 177);
}

.filter-btn.active {
    background-color: var(--amber);
}

.filter-btn.active:hover {
    background-color: rgb(211, 163, 6);
}

.card-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card.lost {
    border-left: 5px solid #e53935;
}

.card.found {
    border-left: 5px solid #43a047;
}

.card.claim {
    border-left: 5px solid #6c757d;
}

.card-status {
    color: white;
    width: 80px;
}

.card-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.lost .card-status h3 {
    background-color: #e53935;
    padding: 5px;
    border-radius: 9px;
}

.card.found .card-status h3 {
    background-color: #43a047;
    padding: 5px;
    border-radius: 9px;
}

.card.claim .card-status h3 {
    background-color: #6c757d;
    padding: 5px;
    border-radius: 9px;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}

.card-details h2 {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
}

.card-details p {
    color: #555;
    font-size: 0.9rem;
}

.card-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-btn .btn-found {
    all: unset;                  
    padding: 5px 0px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: .9rem; 
    transition: background-color 0.3s ease;
    background-color: #43a047; 
}

.card-btn .btn-claim {
    all: unset;                  
    padding: 5px 0px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white; 
    font-size: .9rem;
    transition: background-color 0.3s ease;
    background-color: #1e88e5; 
}

.card-btn .btn-unmark {
    all: unset;                  
    padding: 5px 0px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white; 
    font-size: .9rem;
    transition: background-color 0.3s ease;
    background-color: #6c757d; 
}

.btn-found:hover {
    background-color: #388e3c;
}

.btn-claim:hover {
    background-color: #1565c0;
}

.btn-unmark:hover {
    background-color: #5a6268;
}

input, 
button,
select,
textarea {
    font: inherit;
}

.form-group {
    display: grid;
}